<div class="wrapper__categories">
    <mat-chip-list aria-label="category selection">
        <mat-chip color="primary" *ngFor="let c of productService.categories" (click)="categorySelected(c)"
            selectable="true" [selected]="isSelected(c)">
            {{c.title}}</mat-chip>
    </mat-chip-list>
</div>

<div class="wrapper__products">
    <mat-card class="card" *ngFor="let product of products">
        <mat-card-header>
            <mat-card-title>{{product.title | titlecase}}</mat-card-title>
            <mat-card-subtitle>{{product.price | currency}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="product.title">
        <mat-card-content>
            <p>
                {{product.description}}
            </p>
        </mat-card-content>
        <mat-card-actions>
            <div class="shopping-cart--warpper" *appShowIfLoggedIn="true">
                <button appAddProductTocart [product]="product" mat-button><i class="material-icons">
                        add_shopping_cart
                    </i></button>
                <button appRemoveProductFromCart [product]="product" mat-button><i class="material-icons">
                        remove_shopping_cart
                    </i></button>
            </div>
            <button mat-button (click)="openDialog(product)"><i class="material-icons" *appShowIfAdmin="true">
                    edit
                </i></button>
        </mat-card-actions>
    </mat-card>
</div>