.wrapper__categories {
  display: flex;
  justify-content: center;
  align-content: space-around;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.mat-chip-list-wrapper {
  display: flex;
  flex-direction: column;
}

mat-chip {
  width: 5em;
}
.wrapper__products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  width: 30%;
  margin: 0.3em;
}

.shopping-cart--warpper {
  display: inline-flex;
}

@media screen and (max-width: 584px) {
  .card {
    width: 70%;
  }
}
