<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">
    <mat-nav-list>

      <mat-list-item [routerLink]="['/home']" (click)="sidenav.toggle()" routerLinkActive="link-active"
        [routerLinkActiveOptions]="{exact:true}">
        <mat-icon>home</mat-icon>Home
      </mat-list-item>

      <mat-list-item [routerLink]="['/about']" (click)="sidenav.toggle()" routerLinkActive="link-active">
        <mat-icon>info</mat-icon> About
      </mat-list-item>

      <mat-list-item [routerLink]="['/contact']" (click)="sidenav.toggle()" routerLinkActive="link-active">
        <mat-icon>contact_support</mat-icon> Contact
      </mat-list-item>

      <mat-list-item [routerLink]="['/products']" (click)="sidenav.toggle()" routerLinkActive="link-active">
        <mat-icon>bubble_chart</mat-icon> Products
      </mat-list-item>

      <mat-list-item *ngIf="!user.isLoggedIn" [routerLink]="['/login']" (click)="sidenav.toggle()"
        routerLinkActive="link-active">
        <mat-icon>person</mat-icon> Login
      </mat-list-item>

      <mat-list-item *ngIf="user.isLoggedIn" (click)="logout(sidenav);" [routerLink]="['/home']">
        <mat-icon>person</mat-icon> Logout
      </mat-list-item>

    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" class="header">

      <div>
        <button mat-icon-button (click)="sidenav.toggle()" routerLinkActive="link-active">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div class="cartIcon--wrapper">
        <button mat-icon-button>
          <mat-icon matBadgeColor="warn" matBadge={{cart.numOfProduct}}>shopping_cart</mat-icon>
        </button>
      </div>

    </mat-toolbar>
    <main>
      <div fxLayout="row">
        <img src="assets/wall3.jpeg" alt="wall picture" class="wallImg">
      </div>

      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>

</mat-sidenav-container>